@model List<ControleEstoque.Web.Models.GrupoProdutoModel>
@{
    ViewBag.Title = "Cadastro de Grupo de Produtos";
}

<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

<style>
    #grid_cadastro > thead > tr th:nth-child(2) {
        width: 110px;
    }

    #grid_cadastro > thead > tr th:nth-child(3) {
        width: 200px;
    }

    #cadastro {
        width: 70%;
        margin: 0 auto;
    }

    #cadastro_cabecalho {
        border-bottom: 1px #DDDDDD solid;
    }

    #cadastro_conteudo {
        margin-top: 20px;
    }

    #cabecalho_grid {
        margin-bottom: 20px;
    }
</style>

<div id="cadastro">
    <section id="cadastro_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>
    <section id="cadastro_conteudo">
        <div id="cabecalho_grid" class="row col-md-12">
            <a id="btn_incluir" class="btn btn-success" role="button">
                <i class="glyphicon glyphicon-plus"></i> Incluir
            </a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="grid_cadastro" class="table table-bordered table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Ativo</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-id="@item.Id">
                                <td>@item.Nome</td>
                                <td>@{string ativo = (item.Ativo) ? "Sim" : "Não";}@ativo </td>
                                <td>
                                    <a class="btn btn-primary btn-alterar" role="button">
                                        <i class="glyphicon glyphicon-pencil"></i> Alterar
                                    </a>
                                    <a class="btn btn-danger btn-excluir" role="button">
                                        <i class="glyphicon glyphicon-trash"></i> Excluir
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
@Html.Hidden("id_grupo")
<div id="modal_cadastro" class="form-horizontal invisivel" role="dialog">
    <div id="msg_mensagem_aviso" class="text-danger invisivel"></div>
    <fieldset>
        <div class="row">
            <div class="form-group">
                @Html.Label("lbl_nome", "Nome", new { @class = "col-md-3 control-label" })
                <div data-nome="txt_nome">
                    @Html.TextBox("txt_nome", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("cbx_ativo", "Ativo", new { @class = "col-md-3 control-label" })
                <div data-nome="cbx_ativo">
                    @Html.CheckBox("cbx_ativo")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 modal-footer">
                <a id="btn_sair" class="btn btn-default" role="button" data-dismiss="modal">
                    <i class="glyphicon glyphicon-remove"></i> Sair
                </a>
                <a id="btn_salvar" class="btn btn-primary" role="button">
                    <i class="glyphicon glyphicon-ok"></i> Salvar
                </a>
            </div>
        </div>
        <div id="msg_aviso" class="alert alert-warning invisivel">Preencha os campos acima.</div>
        <div id="msg_erro" class="alert alert-danger invisivel">Ocorreu um erro.</div>
    </fieldset>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
<script>
        function abrir_form(dados) {
            $('#id_grupo').val(dados.Id);
            $('#txt_nome').val(dados.Nome);
            $('#cbx_ativo').prop('checked', dados.Ativo);

            var modal_cadastro = $('#modal_cadastro');

            $('#msg_mensagem_aviso').empty;
            $('#msg_mensagem_aviso').hide();
            $('#msg_erro').hide();
            $('#msg_aviso').hide();

            bootbox.dialog({
                    title: '@ViewBag.Title',
                    message: modal_cadastro
                })
                .on('shown.bs.modal', function () {
                    modal_cadastro.show(0, function () {
                        $('#txt_nome').focus();
                    });
                })
                .on('hidden.bs.modal', function () {
                    modal_cadastro.hide().appendTo('body');
                });
        }

        function criar_linha_grid(dados) {//Método para criar uma nova linha ao adicionar um novo grupo
            var ret =
                '<tr data-id=' + dados.Id + '>' +
                '<td>' + dados.Nome + '</td>' +
                '<td>' + (dados.Ativo ? 'Sim' : 'Não') + '</td>' +
                '<td>' +
                '<a class="btn btn-primary btn-alterar" role="button">' +
                   '<i class="glyphicon glyphicon-pencil"></i> Alterar' +
                '</a> ' +
                '<a class="btn btn-danger btn-excluir" role="button">' +
                   '<i class="glyphicon glyphicon-trash"></i> Excluir' +
                '</a>' +
                '</td>' +
                '</tr>';

            return ret;
        }

        $(document)     //# para identificar o nome dado ao botão
            .on('click', '#btn_incluir', function () {
                abrir_form({ Id: 0, Nome: '', Ativo: true });

            })          //. para identificar o nome da classe, por haver mais de um botão "alterar"
            .on('click', '.btn-alterar', function () {
                var btn = $(this),
                    id = btn.closest('tr').attr('data-id'),
                    url = '@Url.Action("RecuperaGrupoProduto", "Cadastro")';
                    param = { 'id': id };

                $.post(url, param, function (response) {
                    if (response) {
                        abrir_form(response);
                    }
                })

            })
                        //. para identificar o nome da classe, por haver mais de um botão "excluir"
            .on('click', '.btn-excluir', function () {
                var btn = $(this),
                    id = btn.closest('tr').attr('data-id'),
                    url = '@Url.Action("ExcluirGrupoProduto", "Cadastro")';
                    param = { 'id': id };

                bootbox.confirm({
                    message: "Tem certeza que deseja excluir esse grupo de produto",
                    buttons: {
                        confirm: {
                            label: 'Sim',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Não',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.post(url, param, function (response) {
                                if (response) {
                                    btn.closest('tr').remove();
                                    alert('Grupo de produtos excluido com sucesso.');
                                }
                            })
                        }
                        console.log('This was logged in the callback: ' + result);
                    }
                });
            })
            .on('click', '#btn_salvar', function () {
                var url = '@Url.Action("AdicionaGrupoProduto", "Cadastro")';
                    param = {
                        Id: $('#id_grupo').val(),
                        Nome: $('#txt_nome').val(),
                        Ativo: $('#cbx_ativo').prop('checked')
                            };

                $.post(url, param, function (response) {
                    if (response.Resultado == "Ok") {
                        if (param.Id == 0) {
                            param.Id = response.IdSalvo
                            var table = $('#grid_cadastro').find('tbody'),
                                linha = criar_linha_grid(param);

                            table.append(linha);
                            alert("Grupo de produto adicionado com sucesso!");
                        }
                        else{//obtém a linha do grid_cadastro onde o data-id é igual a param.Id
                            var linha = $('#grid_cadastro').find('tr[data-id=' + param.Id + ']').find('td');
                            linha//Na coluna 0 ele add o Nome e na um o Status de Ativo:
                                .eq(0).html(param.Nome).end()
                                .eq(1).html(param.Ativo ? 'Sim' : 'Não');
                            alert("Grupo de produto atualizado com sucesso!");
                        }
                        $('#modal_cadastro').parents('.bootbox').modal('hide');
                    }
                    else if (response.Resultado == "Erro") {
                        $('#msg_mensagem_aviso').hide();
                        $('#msg_aviso').hide();
                        $('#msg_erro').show();
                    }
                    else if (response.Resultado == "Aviso") {
                        $('#msg_mensagem_aviso').html(formatar_mensagem_aviso(response.Mensagens));
                        $('#msg_mensagem_aviso').show();
                        $('#msg_erro').hide();
                        $('#msg_aviso').show();
                    }
                })

            })
    function formatar_mensagem_aviso(mesagens) {
        var ret = '';

        for (var i = 0; i < mesagens.length; i++) {
            ret += '<li>' + mesagens[i] + '</li>';
        }
        return '<ul>' + ret + '</ul>';
    }
</script>
}
